.title
  = f.label :title
  = f.text_field :title

.description
  = f.label :description
  %br
  = f.text_area :description, rows: 5, cols: 80

.tags
  = f.label :tag_list
  %br
  = f.text_field :tag_list

.owner
  = f.select :owner_type, ActiveRecord::Base.descendants.map(&:to_s)
  = f.text_field :owner_id

= f.file_field :file

